* {
  margin: 0;
  padding: 0;
}

body {
  background: #121212;
  font-family: 'Lato', sans-serif;
  color: #a0a0a0;
  display: flex;
  overflow: hidden;
}

.aside {
  background: #0f1015;
  box-shadow: 0px 5px 8px #0f1015;
  height: 100vh;
  width: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* overflow: scroll; */
}

.aside-container {
  padding: 20px;
}

.aside-header {
  margin-bottom: 20px;
}

.aside-link {
  align-items: center;
  color: #fff;
  display: flex;
  height: 32px;
  text-decoration: none;
  transition: color .4s;
}

.aside-link:hover {
  color: #1ed760;
}

.aside-icon {
  margin-right: 10px;
  width: 32px;
}

.aside-title {
  font-size: 16px;
}

.form-wrapper {
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  display: flex;
  padding: 10px 0;
}

.form-input {
  background: none;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  outline: none;
  padding: 12px 20px;
}

.form-input:focus {
  color: #1ed760;
}

.form-input:focus + .form-icon {
  color: #1ed760;
}

.form-icon {
  cursor: pointer;
  width: 22px;
}

.list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  min-height: 70px;
  opacity: .7;
  padding: 10px 20px;
  transition: opacity .4s;
}

.list-item:nth-of-type(even) {
  background: rgba(29, 32, 40, 0.61);
}

.list-item:hover {
  opacity: 1;
}

.list-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.list-title {
  color: #fff;
}

.container {
  background-image: linear-gradient(rgb(70, 76, 82), rgb(7, 7, 8) 85%);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.container-inner {
  display: flex;
  padding: 50px;
}

.album-info {
  margin-right: 50px;
  text-align: center;
}

.album-image {
  width: 250px;
  height: 250px;
}

.album-title {
  color: #fff;
  font-size: 24px;
  margin: 20px 0 0;
}

.album-artist {
  font-size: 18px;
}

.album-counter {
  font-size: 14px;
}

.album-artist,
.album-counter {
  font-weight: 300;
  margin-bottom: 25px;
}

.play-btn {
  background: #1ed760;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 13px 44px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .3s;
}

.play-btn:hover {
  background: #16a248;
}

.album-musics {
  width: 100%;
}

.music {
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  transition: background .3s;
  width: 100%;
}

.music.active {
  color: #16a248;
}

.music.active .music-title {
  color: #16a248;
}

.music:hover {
  background: #000;
}

.music-number,
.music-title,
.music-duration {
  padding: 10px;
}

.music-number {
  margin-right: 20px;
  min-width: 25px;
}

.music-number:after {
  content: '.';
}

.music-title {
  color: rgba(255, 255, 255, 0.81);
  width: 100%;
}

.music-duration {
  text-align: right;
  width: 100%;
}
